.header {
  display: flex;
  align-items: center;
}

.navList {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 66px 0 60px;
  height: 80px;
  margin: 0;
}

.navLink {
  margin: 0 64px 0 0;
  font-family: "Euclid Circular B", "Courier New", Courier, monospace;
  color: #3d3c3c;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.08em;
  cursor: pointer;
}

.navLink:last-child {
  margin: 0;
}

.blokOpenMenu {
  width: 80px;
  height: 80px;
  background-color: #3D3C3C;
  display: flex;
  justify-content: center;
  align-items: center;
}

.open {
  cursor: pointer;
}

.border {
  border-bottom: solid 1px rgba(61, 60, 60, 0.08);
}
